@charset "UTF-8";
.header-line {
  background-color: #f0ede5;
  width: 100%;
  height: 15%;
}

/* #header
====================================== */
/* parts
--------------------------------- */
/* #header-offcanvas-btn
--------------------------------- */
/* #header-logo
--------------------------------- */
#header-logo {
  text-align: center;
}

/* #header-tel　
--------------------------------- */
/* gnav
====================================== */
/* #lnav
====================================== */